<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title> Admin panel </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">


</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-dark text-white">

    <b th:text="${userAuthorized.getEmail()}">VALUE</b>
    with roles:
    <b th:each="role:${userAuthorized.getRole()}" th:text="${role.getName()}"></b>

<!--    <td th:each="role:${user.getRoles()}" th:text="${role.getName()}"></td>-->
<!--        <a th:each="user : ${users}">-->
<!--        <h4><a th:text="${user.getEmail()}">VALUE</a> with roles: </h4>-->
    <!--    <a th:each="role:${user.getRoles()}" th:text="${role.getName()}"></a>-->
    <!--    </a>-->

    <!--<nav class="navbar navbar-dark" style="background-color: #343a40">-->
    <!--    <div class="container-fluid">-->
    <!--        <span class="navbar-brand">-->
    <!--            <b th:text="${principal.getUsername()}">Username</b>-->
    <!--            with rolesSet:-->
    <!--            <span th:each="roleName : ${principal.getAuthorities()}">-->
    <!--                <span th:text="${#strings.substring(roleName.authority, 5)}"></span>-->
    <!--            </span>-->
    <!--        </span>-->
    <!--        <a th:href="@{/logout}" class="navbar-text btn" id="logoutBtn">Logout</a>-->
    <!--    </div>-->
    <!--</nav>-->

</nav>

<div class="container">
    <div class="row">

        <div class="col-sm-11">

            <table class="table">
                <thead>
                <tr>
                    <th scope="row">ID</th>
                    <th scope="row">Username</th>
                    <th scope="row">Name</th>
                    <th scope="row">Age</th>
                    <th scope="row">Role</th>
                    <th scope="row">Edit</th>
                    <th scope="row">Delete</th>
                </tr>
                </thead>

                <tbody>
                <a th:each="user : ${users}">
                    <a th:href="@{/admin/{id}(id=${user.getId()})}" th:text="${user.getEmail()}">user</a>
                    <tr>
                        <td th:utext="${user.getId()}"></td>
                        <td th:utext="${user.getFirstName()}"></td>
                        <td th:utext="${user.getLastName()}"></td>
                        <td th:utext="${user.getAge()}"></td>
                        <td th:utext="${user.getEmail()}"></td>
                        <td th:each="role:${user.getRoles()}" th:text="${role.getName()}"></td>

                        <td>
                            <a th:href="@{/admin/{id}/edit(id=${user.getId()})}">
                                <button class="btn btn-info">Edit</button>
                            </a>
                        <td>
                            <form th:method="DELETE" th:action="@{/admin/{id}(id=${user.getId()})}">
                                <button class="btn btn-danger"
                                        input type="submit"
                                        value="Delete">Delete
                                </button>
                            </form>
                        </td>
                    </tr>
                </a>
                </tbody>
            </table>
        </div>
    </div>
</div>
<br/>
<br/>
<br/>

<a href="/admin/new">Add User</a>

<br/>

<a href="/user">My page info</a>

<br/>

<a th:href="@{/logout}">Logout</a>

</body>
</html>